{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class ="text-center class="Display-4" ">Emocionalidad y Educación Normalista</h1>
  <p class ="text-center class="h2">Aquí va un rollito ganador</p>
  <hr class="my-4">
  <p class ="text-center">Elige el cuestionario segúnla licenciatura que estás matriculada(o)</p>
  <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Licenciatura en Preescolar</a>
  <a class="btn btn-warning btn-lg btn-block" href="#" role="button">Licenciatura en Primaria</a>
  <a class="btn btn-danger btn-lg btn-block" href="#" role="button">Licenciatura en Secundaria</a>
</div>
{% endblock %}
