{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
  <h1 class="text-center" class="Display-5" class="text-center">Estudiantes Normalistas: emocionalidad en el marco del Covid-19</h1>
  <p class="h2" class ="text-center" >Investigación doctoral</p>
  <hr class="my-4">
  <p class="text-primary" class ="text-center">Elige el cuestionario según la licenciatura que estás matriculada(o)</p>
  <a class="btn btn-primary btn-lg btn-block" href="#" role="button">Licenciatura en Preescolar</a>
  <a class="btn btn-warning btn-lg btn-block" href="#" role="button">Licenciatura en Primaria</a>
  <a class="btn btn-success btn-lg btn-block" href="#" role="button">Licenciatura en Secundaria</a>
</div>
{% endblock %}
